@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a href="http://localhost:5014/TestLongOperation">http://localhost:5014/TestLongOperation</a> to manually test the API endpoint.</p>
    <p>Else use the UWP project: <b>TestClientAsyncUWP</b></p>
</div>
